footer.footer-box
  .container
    .row
      .col-xs-12.col-sm-6.col-md-6.col-lg-3
        .footer_blog
          .full.margin-bottom_30
            img(src='images/footer_logo.png' alt='#')
          .full.white_fonts
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      .col-xs-12.col-sm-6.col-md-6.col-lg-3
        .footer_blog.footer_menu.white_fonts
          h3 Quick links
          ul
            li
              a(href='#') &gt; Join Us
            li
              a(href='#') &gt; Maintenance
            li
              a(href='#') &gt; Language Packs
            li
              a(href='#') &gt; LearnPress
            li
              a(href='#') &gt; Release Status
      .col-xs-12.col-sm-6.col-md-6.col-lg-3
        .footer_blog.full.white_fonts
          h3 Newsletter
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          .newsletter_form
            form(action='index.html')
              input(type='email' placeholder='Your Email' name='#' required='')
              button Submit
      .col-xs-12.col-sm-6.col-md-6.col-lg-3
        .footer_blog.full.white_fonts
          h3 Contact us
          ul.full
            li
              img(src='images/i5.png')
              span
                | London 145
                br
                | United Kingdom
            li
              img(src='images/i6.png')
              span demo@gmail.com
            li
              img(src='images/i7.png')
              span +12586954775